
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 125px;
  position: absolute; left:400px; top:200px;
  text-align: center;
  padding: 50px;
  margin: 70px;

  -webkit-text-fill-color: rgb(110, 99, 99); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

h4{
  text-align: center;
  font-family: 'Secular One', sans-serif;
  position: absolute; left:660px; top:435px;
  font-weight: 100;

}

h1#About {
  font-size: 80px;


  position: absolute; left:-59px; top:-60px;


}

h2#abouth2{
  font-size: 50px;

  position: absolute; left:59px; top:165px;
  color: white;


}

p#para1{

  position: absolute; left:60px; top:300px;
  color: whitesmoke;
  font-weight: 200;
}

div#navbar {
  position: absolute; right: 30px; top: 20px;
  font-size: 20px;
}



iframe#map{
  position: fixed;  right: 450px; top: 280px;
  border: 3px;
}

h4#tag1{
  position: absolute; left: 0px; top: -40px;
  font-size: xx-large;
  font-weight: 20;
  color: whitesmoke;
}

h4#tag2{
  position: absolute; left: 0px; top: 40px;
  font-size: xx-large;
  font-weight: 20;
  color: whitesmoke;
}

h4#tag3{
  position: absolute; left: 0px; top: 110px;
  font-size: xx-large;
  font-weight: 20;
  color: whitesmoke;
}



h2#location{
  font-size: 50px;

  position: absolute; left:390px; top:160px;
  color: white;


}

h1#location {
  font-size: 80px;


  position: absolute; left:-59px; top:-60px;


}

h1#contact {
  font-size: 80px;


  position: absolute; left:-59px; top:-60px;


}

form{
  position: absolute; right: 40px; top: 200px;
}